.signup-button {
    width: 120px;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background: radial-gradient(#fcfcfc, #58a8ca);
    box-shadow: 0px 0px 1px 1px rgb(97, 97, 97);
    border-radius: 20px;
}

.signup-button:hover {
    background: radial-gradient(#fcfcfc, #91cce5);
}

.signup-button:active {
    background: radial-gradient(#fcfcfc, #2a7b9e);
    box-shadow: 0px 0px 1px 1px rgb(143, 143, 143);
}
