.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: white;
    border: 1px solid rgb(204, 204, 204);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.logoImg {
    width: 80px;
    height: 60px;
    margin-left: 20px;
}

.profile-dropdown {
    position: absolute;
    right: 5px;
    top: 65px;
    
    width: 180px;
    height: auto;
    
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 1px 2px rgb(177, 177, 177);
}

.profile-dropdown-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    position: absolute;
    right: 5px;
    top: 65px;
    
    width: 180px;
    height: auto;
    
    background-color: white;
    border-radius: 20px;
    border: 2px solid rgb(0, 0, 0);
    background: linear-gradient(#bebebe, #e6e6e6);
    box-shadow: 0px 0px 1px 2px rgb(29, 29, 29);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

#user-profile-link-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: fill;
    margin-bottom: 10px;
}

.user-spots-link {
    text-decoration: none;
    color: black;
    margin-top: 10px;
    margin-bottom: -8px;
}

.user-spots-link:hover {
    text-decoration: underline;
}

#user-p {
    margin-top: -10px;
}

.user-logout-button {
    margin-bottom: 10px;
    width: 120px;
    cursor: pointer;
    background: radial-gradient(#fcfcfc, #58a8ca);
    box-shadow: 0px 0px 1px 1px rgb(97, 97, 97);
    border-radius: 20px;
}

.user-logout-button:hover {
    background: radial-gradient(#fcfcfc, #91cce5);
}

.user-logout-button:active {
    background: radial-gradient(#fcfcfc, #2a7b9e);
    box-shadow: 0px 0px 1px 1px rgb(143, 143, 143);
}

.topbar-home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-user-circle {
    width: 18px;
    height: 18px;
    padding-top: 5px;
}

.profile-button {
    border: none;
    background-color: white;
    cursor: pointer;
}

.profile-button-img {
    width: 28px;
    height: 28px;
    margin-top: 2px;
    margin-left: -10px;
}

.profile-menu-div {
    border: 1px solid #a5a5a5;
    border-radius: 20px;
    width: 75px;
    height: 38px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profile-menu-div:hover {
    box-shadow: 0px 0px 1px 1px rgb(212, 212, 212);
}

.profile-menu-img {
    margin-top: 3px;
}

.topbar-profile {
   display: flex;
   align-items: center;
}

.create-spot {
    text-decoration: none;
    color: rgb(0, 137, 161);
}

.create-spot:hover {
    text-decoration: underline;
}
